<% include partials/_header %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-8">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %>
                        <% for ( var i = 0; i< data.length; i++ ) { %>
                            <tr>
                                <td><%= ( i + 1 ) %></td>
                                <td><%= data[i].name %></td>
                                <td><%= data[i].address %></td>
                                <td><%= data[i].phone %></td>
                                <td>
                                    <a href="/update/<%= data[i].id %>" class="btn btn-primary">UPDATE</a>
                                    <a href="/delete/<%= data[i].id %>" class="btn btn-danger">DELETE</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="card bg-secondary text-center">
                <div class="card-body">
                    <h5 class="card-title">ADD A NEW CUSTOMER</h5>
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="address" placeholder="Address" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" placeholder="Phone" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                SAVE CUSTOMER
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/_footer %>